*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}
.main{
    width: 1200px;
    margin: 100px auto;

}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .single-gallery {
    flex-basis: 32%;
  }